.venv/
.coverage
lod_v1.csv
lod_v2.csv
source/__pycache__/
dummy_products.csv
dummy_products2.csv
source/__pycache__/decoration_helper_functions.cpython-39.pyc
source/__pycache__/err_catching_helper_functions.cpython-39.pyc
source/__pycache__/fileHandler_helper_functions.cpython-39.pyc
source/__pycache__/unique_str_helper_functions.cpython-39.pyc
source/dummy_area.py
source/branch_test.txt
source/mini_project_week2.py
source/mini_project_wk2_v1.py